/* Custom page CSS
-------------------------------------------------- */
.card-img-top {
	width: 100%;
	height: 15vw;
	object-fit: cover;
}

.filter-col {
	padding-left: 0
}

.btn-group {
	border-radius: 0;
}

.btn {
	border-radius: 0;
}